/* :root {
    --main: #121213;
    --primary-accent: #3a3a3c;
    --secondary-accent: grey;
    --wrong-position: #b59f3b;
    --right-position: #538d4e;
} */

:root {
    --main: #18122B;
    --primary-accent: #645CBB;
    --secondary-accent: #A084DC;
    --wrong-position: #FFB100;
    --right-position: #227C70;
}

body {
    background: var(--main);
}

* {
    font-family: "Fredoka One";
}

h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    /* animation: pulse 1s ease-in infinite; */
}

hr {
    height: 1px;
    border: none;
    background-color: var(--primary-accent);
    margin: -8px -8px 5px;
}

#game {
    display: grid;
    place-items: center;
    width: 100%;
}

.grid {
    display: grid;
    align-content: center;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(5, auto);
    padding: 4px;
    gap: 3px;
}

.box {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid var(--primary-accent);
    border-radius: .4rem;
    color: white;
    margin: 1px;
    font-size: 30px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
}

.box.wrong {
    background: var(--primary-accent);
    border: var(--primary-accent);
}

.box.wrong-position {
    background: var(--wrong-position);
    border: var(--wrong-position);
}

.box.right-position {
    background: var(--right-position);
    border: var(--right-position);
}

.box.filled {
    border: 2px solid var(--secondary-accent);
    animation: pop 0.1s linear 1;
}

.box.flipped {
    animation: flip 0.5s ease;
}

.box.shaked {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.box.bounced {
    animation: bounce 1s ease infinite;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2px;
}

button {
    background-color: var(--secondary-accent);
    color: white;
    width: 40px;
    height: 55px;
    border: none;
    border-radius: .3rem;
    display: inline-block;
    margin: 3px;
    font-size: 1.3rem;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    outline: none;
}

button:active {
    animation: push 0.1s linear 1;
}

.key.wrong {
    background: var(--primary-accent);
}

.key.wrong-position {
    background: var(--wrong-position);
}

.key.right-position {
    background: var(--right-position);
}

.enter, .backspace {
    width: 65px;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: var(--secondary-accent);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    animation: fadeinout 2s linear forwards;
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes push {
    50% {
        transform: scale(0.8);
    }
}

@keyframes pop {
    50% {
        transform: scale(1.2);
    }
}

@keyframes pulse {
    25% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(1.1);
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes fadeinout {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1.1, .9) translateY(0);
    }
    30% {
        transform: scale(.9, 1.1)   translateY(-55px);
    }
    50% {
        transform: scale(1.05, .95) translateY(0);
    }
    58% {
        transform: scale(1, 1) translateY(-7px);
    }
    65% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}