/* :root {
    --default: #121213;
    --wrong: #3a3a3c;
    --wrong-position: #b59f3b;
    --right-position: #538d4e;
    --filled: grey;
} */

:root {
    --default: #18122B;
    --wrong: #645CBB;
    --wrong-position: #FFB100;
    --right-position: #227C70;
    --filled: #A084DC;
}

/* :root {
    --default: #18122B;
    --wrong: #6C00FF;
    --wrong-position: #FFB100;
    --right-position: #46C2CB;
    --filled: #6D67E4;
} */

body {
    background: var(--default);
}

h1 {
    color: white;
    text-align: center;
    font-family: "Fredoka One";
    text-transform: uppercase;
    /* animation: pulse 1s ease-in infinite; */
}

hr {
    height: 1px;
    border: none;
    background-color: var(--wrong);
    margin: -8px -8px 5px;
}

#game {
    display: grid;
    place-items: center;
    width: 100%;
}

.grid {
    display: grid;
    align-content: center;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(5, auto);
    padding: 4px;
    gap: 3px;
}

.box {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid var(--wrong);
    border-radius: .4rem;
    color: white;
    margin: 1px;
    font-size: 30px;
    font-family: "Fredoka One";
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
}

.box.wrong {
    background: var(--wrong);
    border: none;
}

.box.wrong-position {
    background: var(--wrong-position);
    border: none;
}

.box.right-position {
    background: var(--right-position);
    border: none;
}

.box.filled {
    border: 2px solid var(--filled);
    animation: pop 0.1s linear 1;
}

.flipped {
    border: 2px solid var(--filled);
    animation: flip 0.5s ease;
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2px;
}

button {
    background-color: var(--filled);
    color: white;
    width: 40px;
    height: 55px;
    border: none;
    border-radius: .3rem;
    display: inline-block;
    margin: 3px;
    font-size: 1.3rem;
    font-family: "Fredoka One";
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    outline: none;
}

.key.wrong {
    background: var(--wrong);
}

.key.wrong-position {
    background: var(--wrong-position);
}

.key.right-position {
    background: var(--right-position);
}

.enter, .backspace {
    width: 65px;
}

button:active {
    animation: push 0.1s linear 1;
}

@keyframes push {
    50% {
        transform: scale(0.8);
    }
}

@keyframes pop {
    50% {
        transform: scale(1.2);
    }
}

@keyframes pulse {
    25% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(1.1);
    }
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
/* .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
} */

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    animation: fadeinout 1.5s linear forwards;
}

@keyframes fadeinout {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}