/* :root {
    --main: #121213;
    --primary-accent: #3a3a3c;
    --secondary-accent: grey;
    --wrong-position: #b59f3b;
    --right-position: #538d4e;
} */

:root {
    --main: #18122B;
    --primary-accent: #645CBB;
    --secondary-accent: #A084DC;
    --wrong-position: #FFB100;
    --right-position: #227C70;
}

body {
    background: var(--main);
    height: 100%;
    margin: 0;
}

* {
    font-family: "Fredoka One";
}

h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

hr {
    height: 1px;
    border: none;
    background-color: var(--primary-accent);
    width: 100%;
}

#game {
    display: grid;
    place-items: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: fixed;
}

.popup-container {
    position: relative;
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
}

.popup-container .popup {
    visibility: hidden;
    width: 160px;
    background-color: var(--secondary-accent);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup-container .show {
    visibility: visible;
    animation: fade 2s linear forwards;
}

.grid {
    display: grid;
    align-content: center;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(5, auto);
    padding: 4px;
    gap: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.box {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid var(--primary-accent);
    border-radius: .4rem;
    color: white;
    margin: 1px;
    font-size: 30px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
}

.box.wrong {
    background: var(--primary-accent);
    border: var(--primary-accent);
}

.box.wrong-position {
    background: var(--wrong-position);
    border: var(--wrong-position);
}

.box.right-position {
    background: var(--right-position);
    border: var(--right-position);
}

.box.filled {
    border: 2px solid var(--secondary-accent);
    animation: pop 0.1s linear 1;
}

.box.flipped {
    animation: flip 0.5s ease;
}

.box.shaked {
    animation: shake .5s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.box.bounced {
    animation: bounce 1s ease infinite;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3px;
}

button {
    background-color: var(--secondary-accent);
    color: white;
    width: 40px;
    height: 55px;
    border: none;
    border-radius: .3rem;
    display: inline-block;
    margin: 3px;
    font-size: 1.3rem;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    outline: none;
}

button:active {
    animation: push 0.1s linear 1;
}

.key.wrong {
    background: var(--primary-accent);
}

.key.wrong-position {
    background: var(--wrong-position);
}

.key.right-position {
    background: var(--right-position);
}

.enter, .backspace {
    width: 63px;
}

@keyframes flip {
    0%, 100% {transform: scaleY(1);}
    50% {transform: scaleY(0);}
}

@keyframes push {
    0%, 100% {transform: scale(1);}
    50% {transform: scale(0.8);}
}

@keyframes pop {
    0%, 100% {transform: scale(1);}
    50% {transform: scale(1.15);}
}

@keyframes shake {
    0%, 100% {transform: translate3d(0, 0, 0);}
    10%, 90% {transform: translate3d(-1px, 0, 0);}
    20%, 80% {transform: translate3d(2px, 0, 0);}
    30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
    40%, 60% {transform: translate3d(4px, 0, 0);}
}

@keyframes fade {
    0%, 100% {opacity: 0;}
    50% {opacity: 1;}
}

@keyframes bounce {
    0%, 65%, 100% {transform: scale(1, 1) translateY(0);}
    10% {transform: scale(1.1, .9) translateY(0);}
    30% {transform: scale(.9, 1.1) translateY(-30px);}
    50% {transform: scale(1.05, .95) translateY(0);}
    58% {transform: scale(1, 1) translateY(-4px);}
}